<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex flex-center">
        <div id="particles-js"></div>
        <q-card
          class="login-form"
          v-bind:style="$q.platform.is.mobile?{'width': '80%'}:{'width':'30%'}"
        >
          <q-img src="/statics/images/pharmacy.jpg"></q-img>
          <q-card-section>
            <q-avatar
              size="74px"
              class="absolute"
              style="top: 0;right: 25px;transform: translateY(-50%);"
            >
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
            <div class="row no-wrap items-center">
              <div class="col text-h6 ellipsis">
                Log in to Dashboard
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-gutter-md">
              <q-input filled v-model="user.email" label="email" lazy-rules />

              <q-input type="password" filled v-model="user.password" label="Password" lazy-rules />

              <div>
                <q-btn label="Login" @click="login" type="button" color="primary" />
              </div>
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: 'aabca@abc.com',
        password: '123q456',
        username: 'admin',
      },
    };
  },
  methods: {
    async login() {
      let msg;
      let status;

      try {
        const response = await this.$axios
          .post('auth/signin', {
            email: this.user.email,
            password: this.user.password,
          });

        // Success 🎉
        console.log(response);
        status = {
          type: 'positive',
          message: 'Autenticado',
        };
        this.$router.push('/uploadCSV');
      } catch (error) {
        // Error 😨
        if (error.response) {
        /*
         * The request was made and the server responded with a
         * status code that falls out of the range of 2xx
         */
          msg = error.response.data;
          // console.log(error.response.data);
          // console.log(error.response.status);
          // console.log(error.response.headers);
        } else if (error.request) {
        /*
         * The request was made but no response was received, `error.request`
         * is an instance of XMLHttpRequest in the browser and an instance
         * of http.ClientRequest in Node.js
         */
          console.log(error.request);
        } else {
        // Something happened in setting up the request and triggered an Error
          console.log('Error', error.message);
        }
        // console.log(error);
        status = {
          type: 'negative',
          message: msg,
        };
      } finally {
        this.$q.notify(status);
      }
    },
  },
  mounted() {
  },
};
</script>

<style>
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgb(74, 94, 137) 15%, #b61924 70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .login-form {
    position: absolute;
  }
</style>
