<template>
  <q-layout>
    <q-page-container>
      <q-page class="flex flex-center">
        <div id="particles-js"></div>
        <q-card
          class="login-form"
          v-bind:style="$q.platform.is.mobile?{'width': '80%'}:{'width':'40%'}"
        >
          <q-card-section>
            <div class="row no-wrap items-center">
              <div class="col text-h6 ellipsis">
                Upload file
              </div>
            </div>
          </q-card-section>
          <q-card-section>
            <q-form class="q-gutter-md">
            <q-input
              name="import_file"
              @change="selectedFile($event)"
              filled
              type="file"
              hint="Selecciona archivo CSV"
            />
            <!-- <input type="file" name="import_file" @change="selectedFile($event)"> -->
            <q-btn @click="uploadTodos" color="primary">Upload</q-btn>
              <!-- <button @click="uploadTodos">
               Submit
              </button> -->
              <!-- <q-file
                autofocus
                :value="files"
                @input="updateFiles"
                label="Pick files"
                outlined
                multiple
                :clearable="!isUploading"
                style="max-width: 400px"
                accept="text/csv, .csv, csv"
              >
                <template v-slot:file="{ index, file }">
                  <q-chip
                    class="full-width q-my-xs"
                    :removable="isUploading && uploadProgress[index].percent < 1"
                    square @remove="cancelFile(index)"
                  >
                    <q-linear-progress
                      class="absolute-full full-height"
                      :value="uploadProgress[index].percent"
                      :color="uploadProgress[index].color"
                      track-color="grey-2"
                    />

                    <q-avatar>
                      <q-icon :name="uploadProgress[index].icon" />
                    </q-avatar>

                    <div class="ellipsis relative-position">
                      {{ file.name }}
                    </div>

                    <q-tooltip>
                      {{ file.name }}
                    </q-tooltip>
                  </q-chip>
                </template>

                <template v-slot:after v-if="canUpload">
                  <q-btn
                    color="primary"
                    dense
                    icon="cloud_upload"
                    round
                    @click="upload"
                    :disable="!canUpload"
                    :loading="isUploading"
                  />
                </template>
              </q-file>
              <q-uploader
                :factory="factoryFn"
                extensions=".gif,.jpg,.jpeg,.png"
                @add="file_selected"
              />
              <q-btn @click="uploadFile()">Upload</q-btn> -->
            </q-form>
          </q-card-section>
        </q-card>
      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
/* eslint-disable no-underscore-dangle */
/* eslint-disable no-nested-ternary */
/* eslint-disable prefer-destructuring */
export default {
  data() {
    return {
      file: null,
      files: null,
      uploadProgress: [],
      uploading: null,
      selected_file: null,
      check_if_document_upload: false,
    };
  },
  computed: {
    isUploading() {
      return this.uploading !== null;
    },
    canUpload() {
      return this.files !== null;
    },
  },
  methods: {
    selectedFile(event) {
      // console.log(event);
      this.file = event.target.files[0];
    },
    async uploadTodos() {
      let msg;
      let status;
      // const url = "https://api_cobrando.tech-andgar.me/user/uploadFileCSV";

      try {
        const formData = new FormData();
        formData.append('file', this.file);
        // eslint-disable-next-line no-restricted-syntax
        // for (const pair of formData.entries()) {
        //   console.log(`${pair[0]}, ${pair[1]}`);
        // }
        const response = await this.$axios.post('user/uploadFileCSV', formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
        });

        // Success 🎉
        console.log(response);
        status = {
          type: 'positive',
          message: 'Subido',
        };
      } catch (error) {
        // Error 😨
        if (error.response) {
        /*
         * The request was made and the server responded with a
         * status code that falls out of the range of 2xx
         */
          msg = error.response.data;
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
        } else if (error.request) {
        /*
         * The request was made but no response was received, `error.request`
         * is an instance of XMLHttpRequest in the browser and an instance
         * of http.ClientRequest in Node.js
         */
          console.log(error.request);
        } else {
        // Something happened in setting up the request and triggered an Error
          console.log('Error', error.message);
        }
        // console.log(error);
        status = {
          type: 'negative',
          message: msg,
        };
      } finally {
        this.$q.notify(status);
      }
    },
  },
  mounted() {
  },
  beforeDestroy() {
    clearTimeout(this.uploading);
  },
};
</script>

<style>
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgb(74, 94, 137) 15%, #b61924 70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .login-form {
    position: absolute;
  }
</style>
